/* src/app/components/register/register.component.scss */

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/assets/background.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  mat-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background for readability */
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  button {
    width: 100%;
    margin-top: 8px;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  a {
    display: inline-block;
    color: #3f51b5;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    background: #e3f2fd; /* Light blue background */
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  a:hover {
    background: #bbdefb; /* Slightly darker blue */
    color: #0d47a1; /* Darker blue */
    text-decoration: none;
  }
  .login-link:hover {
    text-decoration: underline;
  }